@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

@font-face {
  font-family: "MuseoModerno";
  font-display: swap;
  src: url("../fonts/MuseoModerno-Bold.woff") format("woff"), url("../fonts/MuseoModerno-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MuseoModerno";
  font-display: swap;
  src: url("../fonts/MuseoModerno-Light.woff") format("woff"), url("../fonts/MuseoModerno-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MuseoModerno";
  font-display: swap;
  src: url("../fonts/MuseoModerno-Medium.woff") format("woff"), url("../fonts/MuseoModerno-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MuseoModerno";
  font-display: swap;
  src: url("../fonts/MuseoModerno-Regular.woff") format("woff"), url("../fonts/MuseoModerno-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "MuseoModerno", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.fadeInLeft {
  -webkit-animation: fadeInLeft;
          animation: fadeInLeft;
}

.fadeInRight {
  -webkit-animation: fadeInRight;
          animation: fadeInRight;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

.btn {
  background-color: #C70101;
  text-transform: uppercase;
  padding: 7px;
  border-radius: 5px;
  font-weight: 500;
  color: #fff;
  border: none;
  -webkit-box-shadow: 2px 2px 4px #C70101;
          box-shadow: 2px 2px 4px #C70101;
}

.btn--small {
  margin-top: 7px;
  font-size: 12px;
  line-height: 19px;
}

.btn--big {
  padding: 13px 28px;
  font-size: 16px;
}

.form {
  width: 260px;
}

.form .error {
  border: 1px solid #C70101;
}

.form label.error {
  border: none;
  color: #C70101;
}

.form input[type=text],
.form input[type=tel],
.form input[type=email] {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  height: 53px;
  font-size: 14px;
  line-height: 66px;
  color: #4b4b4b;
  border-radius: 5px;
  margin-top: 6px;
  margin-bottom: 8px;
}

.form .btn--big {
  width: 100%;
  margin-top: 17px;
  font-size: 15px;
}

.form-white label.error {
  color: #fff;
}

.no-webp .promo{
  background: url("../img/header_background.png") center center/cover no-repeat; }

.promo {
  min-height: 650px;
  padding-top: 22px;
  padding-bottom: 93px;
}

.promo__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__logo {
  width: 250px;
}

.promo__logo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.promo__official {
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

.promo__official p {
  font-size: 18px;
  line-height: 29px;
}

.promo__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.promo__tel {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
  color: #fff;
}

.promo__tel:hover {
  color: #C70101;
}

.promo__wrapper {
  margin-top: 91px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.promo__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 42px;
  text-transform: uppercase;
}

.promo__subtitle {
  margin-top: 17px;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.promo__icons {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 420px;
}

.promo__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 65px;
}

.promo__item img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  height: 45px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 20px;
}

.promo__text {
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
}

.promo__text a {
  text-decoration: underline;
  text-transform: uppercase;
  color: #fff;
}

.feature {
  background-color: #f6f6f6;
  min-height: 470px;
  padding-top: 70px;
  padding-bottom: 65px;
}

.feature__title {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #0D0D0D;
}

.feature__wrapper {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feature__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
}

.feature__img {
  display: block;
  width: 70px;
  height: 70px;
}

.feature__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.feature__subtitle {
  margin-top: 35px;
  font-weight: 700;
  font-size: 18px;
  color: #0D0D0D;
  text-align: center;
}

.feature__text {
  margin-top: 20px;
  font-weight: 300;
  font-size: 14px;
  color: #0D0D0D;
  text-align: center;
  line-height: 18px;
}

.feature__link {
  color: #C70101;
  text-decoration: underline;
}

.no-webp .communication{
  background: url("../img/form_bg.png") center center/cover no-repeat; }

.communication {
  min-height: 680px;
  padding-top: 100px;
  padding-bottom: 108px;
}

.communication__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #fff;
}

.communication__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-transform: uppercase;
}

.communication__text {
  margin-top: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.communication__form {
  margin-top: 35px;
}

.slider {
  padding: 81px 0;
}

.swiper {
  width: 950px;
  height: 580px;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 750px;
  height: 580px;
}

.swiper-slide img {
  display: block;
  width: 750px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.catalog {
  padding-bottom: 100px;
}

.catalog__title {
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  color: #0D0D0D;
}

.catalog__tabs {
  margin-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog__tabs-item {
  width: 222px;
  height: 52px;
  border: 2px solid #d0d0d0;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #6b6b6b;
  line-height: 50px;
  margin-right: 10px;
  -webkit-transform: skewX(-30deg);
      -ms-transform: skewX(-30deg);
          transform: skewX(-30deg);
  cursor: pointer;
  -webkit-transition: 0.8s all ease;
  -o-transition: 0.8s all ease;
  transition: 0.8s all ease;
}

.catalog__tabs-item--active {
  background-color: #C70101;
  color: #fff;
  border: none;
  -webkit-box-shadow: 4px 4px 10px #C70101;
          box-shadow: 4px 4px 10px #C70101;
}

.catalog__tabs-item:last-child {
  margin-right: 0;
}

.catalog__tabs-item div {
  -webkit-transform: skewX(30deg);
      -ms-transform: skewX(30deg);
          transform: skewX(30deg);
}

.catalog__tabs-item:hover {
  background-color: #C70101;
  color: #fff;
  border: none;
  -webkit-box-shadow: 4px 4px 10px #C70101;
          box-shadow: 4px 4px 10px #C70101;
}

.catalog__content {
  margin-top: 57px;
  display: none;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 20px;
  justify-items: start;
}

.catalog__content--active {
  display: -ms-grid;
  display: grid;
}

.catalog .catalog-item {
  width: 300px;
  min-height: 440px;
  border: 2px solid #e8e8e8;
  color: #0D0D0D;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.catalog .catalog-item__img {
  width: 240px;
  height: 200px;
}

.catalog .catalog-item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.catalog .catalog-item__title {
  margin-top: 15px;
  font-weight: bold;
  font-size: 16px;
}

.catalog .catalog-item__text {
  margin-top: 15px;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  line-height: 22px;
}

.catalog .catalog-item__link,
.catalog .catalog-item__back-link {
  margin-top: 10px;
  font-weight: 500;
  font-size: 14px;
  text-decoration: underline;
  color: #C70101;
}

.catalog .catalog-item__bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

.catalog .catalog-item__price {
  margin-right: 20px;
}

.catalog .catalog-item__cena {
  font-weight: 300;
  font-size: 14px;
  text-decoration: line-through;
  color: #555555;
}

.catalog .catalog-item__promo {
  margin-top: 3px;
  font-weight: bold;
  font-size: 20px;
  color: #050505;
  text-decoration: none;
}

.catalog .catalog-item__btn {
  padding: 10px 25px;
}

.catalog .catalog-item hr {
  margin: 17px 0;
  display: block;
  width: 260px;
  background-color: #e8e8e8;
  height: 1px;
}

.catalog .catalog-item__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(200% + 20px);
}

.catalog .catalog-item__front-side {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.7s all;
  -o-transition: 0.7s all;
  transition: 0.7s all;
  padding: 10px;
}

.catalog .catalog-item__front-side--active {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.catalog .catalog-item__back-side {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 15px 0px 15px;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.7s all;
  -o-transition: 0.7s all;
  transition: 0.7s all;
}

.catalog .catalog-item__back-side--active {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.catalog .catalog-item__list li {
  padding-left: 16px;
  position: relative;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #555555;
  margin-bottom: 10px;
}

.catalog .catalog-item__list li::before {
  content: "";
  position: absolute;
  display: block;
  top: 5px;
  left: 0px;
  width: 9px;
  height: 9px;
  background-color: #C70101;
}

.feedback {
  padding-bottom: 50px;
}

.feedback__title {
  font-family: "MuseoModerno";
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #0D0D0D;
  margin-bottom: 60px;
}

.feedback__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 60px;
}

.feedback__item:last-child {
  margin-bottom: 0px;
}

.feedback__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 60px;
  border-radius: 50%;
}

.feedback__image img {
  width: 169px;
  height: 169px;
  -o-object-fit: cover;
     object-fit: cover;
}

.feedback__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.feedback__heading {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #0D0D0D;
}

.feedback__subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #646464;
  margin-bottom: 10px;
}

.feedback__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #0D0D0D;
}

.feedback__text p {
  margin-bottom: 15px;
}

.feedback__text p:last-child {
  margin-bottom: 0px;
}

.footer {
  height: 630px;
  position: relative;
}

.footer__map iframe {
  width: 100%;
  height: 630px;
  border: none;
}

.footer__info {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 460px;
  height: 270px;
  background-color: #C70101;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 2px 4px #C70101;
          box-shadow: 2px 2px 4px #C70101;
}

.footer__adress {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 34px;
  color: #fff;
}

.footer__phone {
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  margin-bottom: 34px;
}

.footer__social {
  width: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__social-item {
  width: 53px;
  height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 3px solid #fff;
}

.footer__social-item:hover {
  border: 3px solid #C70101;
  background-color: #fff;
}

.footer__social-item:hover img {
  -webkit-filter: invert(95%) sepia(97%) saturate(14%) hue-rotate(213deg) brightness(104%) contrast(104%);
          filter: invert(95%) sepia(97%) saturate(14%) hue-rotate(213deg) brightness(104%) contrast(104%);
}

.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 390px;
  min-height: 400px;
  padding: 40px;
  background: #f2f2f2;
  -webkit-box-shadow: 1px 1px 15px #0D0D0D;
          box-shadow: 1px 1px 15px #0D0D0D;
}

.modal__close {
  position: absolute;
  top: -10px;
  right: -33px;
  font-size: 50px;
  line-height: 50px;
  color: #C70101;
  position: absolute;
  cursor: pointer;
}

.modal__title {
  font-weight: bold;
  font-size: 19px;
  text-align: center;
  line-height: 19px;
  color: #0D0D0D;
  margin-bottom: 10px;
}

.modal__subtitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #0D0D0D;
  margin-bottom: 25px;
}

.modal form {
  width: 100%;
}

.modal--mini {
  padding: 40px 40px 10px;
  min-height: 120px;
}

#consultation,
#order,
#thanks {
  display: none;
}

.up {
  cursor: pointer;
  display: none;
  position: fixed;
  z-index: 3;
  bottom: 50px;
  right: 50px;
  width: 45px;
  height: 45px;
}

.up__img {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
  height: 100%;
  -webkit-filter: invert(11%) sepia(69%) saturate(6907%) hue-rotate(1deg) brightness(87%) contrast(113%);
          filter: invert(11%) sepia(69%) saturate(6907%) hue-rotate(1deg) brightness(87%) contrast(113%);
}

.up__img:hover {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .promo__logo {
    width: 240px;
  }

  .feature__item {
    width: 240px;
    margin-right: 20px;
  }

  .feature__item:last-child {
    margin-right: 0px;
  }

  .communication__title {
    font-size: 34px;
  }

  .slider {
    padding: 0;
  }

  .swiper {
    width: 700px;
    height: 480px;
  }

  .swiper-slide img {
    width: 500px;
  }

  .catalog {
    padding-bottom: 50px;
  }

  .catalog__tabs {
    margin-top: 30px;
  }

  .catalog__tabs-item {
    width: 180px;
    font-size: 16px;
    margin-right: 15px;
  }

  .catalog__content {
    margin-top: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer {
    height: 500px;
  }

  .footer__map iframe {
    height: 500px;
  }

  .footer__info {
    width: 360px;
    height: 200px;
  }

  .footer__adress {
    margin-bottom: 24px;
  }

  .footer__phone {
    margin-bottom: 24px;
  }

  .footer__social-item {
    width: 45px;
    height: 45px;
  }

  .modal {
    width: 320px;
    min-height: 350px;
    padding: 20px;
  }

  .modal__subtitle {
    margin-bottom: 15px;
  }

  .up {
    bottom: 25px;
    right: 25px;
  }
}

@media (max-width: 767px) {
  .promo__logo {
    width: 160px;
  }

  .promo__official p {
    font-size: 15px;
    line-height: 29px;
  }

  .promo__tel {
    font-size: 15px;
  }

  .promo .btn--small {
    font-size: 10px;
    margin-top: 4px;
    padding: 5px;
  }

  .promo__title {
    font-size: 34px;
  }

  .promo__subtitle {
    font-size: 18px;
  }

  .promo__icons {
    width: 320px;
  }

  .promo__item {
    font-size: 13px;
    margin-bottom: 65px;
  }

  .promo__item img {
    width: 35px;
    height: 35px;
  }

  .promo .btn--big {
    padding: 6px 22px;
    font-size: 14px;
  }

  .promo__text {
    font-size: 14px;
  }

  .feature__title {
    font-size: 26px;
  }

  .feature__wrapper {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .feature__item {
    width: 100%;
    margin-top: 40px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 70%;
    grid-template-columns: 30% 70%;
    -ms-grid-rows: 30px 70px;
    grid-template-rows: 30px 70px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    justify-items: stretch;
    border: 3px solid #C70101;
    border-radius: 25px;
  }

  .feature__img {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }

  .feature__subtitle {
    margin-top: 0px;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row-align: center;
        align-self: center;
  }

  .feature__text {
    margin-top: 0px;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }

  .communication__title {
    font-size: 30px;
    line-height: 42px;
  }

  .slider {
    margin-bottom: 20px;
  }

  .swiper {
    width: 550px;
    height: 380px;
  }

  .swiper-slide {
    height: 380px;
  }

  .swiper-slide img {
    width: 400px;
  }

  .catalog__tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .catalog__tabs-item {
    width: 242px;
    margin-right: 15px;
    margin-bottom: 20px;
  }

  .catalog__tabs-item:nth-child(even) {
    margin-right: 0;
  }

  .catalog__tabs-item:last-child {
    margin-right: 0;
  }

  .catalog__content {
    margin-top: 15px;
    grid-template-columns: repeat(auto-fit, 250px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .catalog .catalog-item {
    width: 250px;
    padding-left: -10px;
  }

  .catalog .catalog-item__img {
    width: 250px;
  }

  .catalog .catalog-item__bottom-wrapper {
    padding: 10px;
  }

  .catalog .catalog-item__price {
    margin-right: 0px;
  }

  .catalog .catalog-item__btn {
    padding: 10px 25px;
  }

  .catalog .catalog-item hr {
    margin: 17px auto;
    display: block;
    width: 220px;
    background-color: #e8e8e8;
    height: 2px;
  }

  .catalog .catalog-item__card {
    width: 200%;
  }

  .catalog .catalog-item__front-side {
    padding: 0px;
  }
}

@media (max-width: 575px) {
  .promo__top {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 40%;
    grid-template-columns: 40% 40%;
    -ms-grid-rows: 60px 60px;
    grid-template-rows: 60px 60px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    justify-items: stretch;
  }

  .promo__contacts {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .promo .btn--small {
    padding: 5px 22px;
  }

  .promo__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .feature__item {
    -ms-grid-columns: 25% 75%;
    grid-template-columns: 25% 75%;
  }

  .feature__text {
    font-size: 12px;
    padding: 0px 10px;
  }

  .slider {
    margin-bottom: 20px;
  }

  .swiper {
    width: 450px;
    height: 380px;
  }

  .swiper-slide {
    height: 350px;
  }

  .swiper-slide img {
    width: 330px;
  }

  .catalog__content {
    grid-template-columns: repeat(auto-fit, 430px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
  }

  .catalog .catalog-item {
    min-height: 400px;
    width: 400px;
    padding: 0;
  }

  .catalog .catalog-item__img {
    width: 350px;
    height: 200px;
  }

  .catalog .catalog-item__text {
    padding: 0 10px;
  }

  .catalog .catalog-item hr {
    margin: 10px auto;
    display: block;
    width: 340px;
    background-color: #e8e8e8;
    height: 2px;
  }

  .feedback {
    padding-bottom: 50px;
  }

  .feedback__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
  }

  .feedback__item:last-child {
    margin-bottom: 0px;
  }

  .feedback__image {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0px;
  }

  .feedback__contents {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .up {
    bottom: 35px;
    right: 35px;
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 449px) {
  .promo__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .promo__logo {
    width: 160px;
  }

  .promo__official {
    margin-top: 15px;
  }

  .promo__tel {
    margin-top: 15px;
  }

  .promo .btn--small {
    padding: 5px 22px;
  }

  .promowrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .promo__title {
    text-align: center;
  }

  .promo__subtitle {
    text-align: center;
  }

  .feature__item {
    -ms-grid-columns: 30% 70%;
    grid-template-columns: 30% 70%;
    -ms-grid-rows: 50px 70px;
    grid-template-rows: 50px 70px;
  }

  .feature__img {
    width: 40px;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-column-align: end;
        justify-self: end;
  }

  .feature__text {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    font-size: 12px;
  }

  .communication {
    padding-top: 70px;
    padding-bottom: 80px;
  }

  .communication__title {
    font-size: 26px;
    line-height: 34px;
  }

  .communication__text {
    font-size: 15px;
  }
}

.webp .promo{ background: url(../img/header_background.webp) center center/cover no-repeat; }

.webp .communication{ background: url(../img/form_bg.webp) center center/cover no-repeat; }