@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

@font-face {
  font-family: "MuseoModerno";
  font-display: swap;
  src: url("../fonts/MuseoModerno-Bold.woff") format("woff"), url("../fonts/MuseoModerno-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MuseoModerno";
  font-display: swap;
  src: url("../fonts/MuseoModerno-Light.woff") format("woff"), url("../fonts/MuseoModerno-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MuseoModerno";
  font-display: swap;
  src: url("../fonts/MuseoModerno-Medium.woff") format("woff"), url("../fonts/MuseoModerno-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MuseoModerno";
  font-display: swap;
  src: url("../fonts/MuseoModerno-Regular.woff") format("woff"), url("../fonts/MuseoModerno-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "MuseoModerno", sans-serif;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

.btn {
  background-color: #C70101;
  text-transform: uppercase;
  padding: 7px;
  border-radius: 5px;
  font-weight: 500;
  color: #fff;
  border: none;
}

.btn--small {
  margin-top: 7px;
  font-size: 12px;
  line-height: 19px;
}

.btn--big {
  padding: 13px 28px;
  font-size: 16px;
}

.no-webp .promo{
  background: url("../img/header_background.png") center center/cover no-repeat; }

.promo {
  min-height: 650px;
  padding-top: 22px;
  padding-bottom: 93px;
}

.promo__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__logo {
  width: 250px;
}

.promo__logo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.promo__official {
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

.promo__official p {
  font-size: 18px;
  line-height: 29px;
}

.promo__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.promo__tel {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
  color: #fff;
}

.promo__tel:hover {
  color: #C70101;
}

.promo__wrapper {
  margin-top: 91px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.promo__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 42px;
  text-transform: uppercase;
}

.promo__subtitle {
  margin-top: 17px;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.promo__icons {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 420px;
}

.promo__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 65px;
}

.promo__item img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  height: 45px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 20px;
}

.promo__text {
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
}

.promo__text a {
  text-decoration: underline;
  text-transform: uppercase;
  color: #fff;
}

.feature {
  background-color: #f6f6f6;
  max-height: 470px;
  padding-top: 70px;
  padding-bottom: 65px;
}

.feature__title {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #0D0D0D;
}

.feature__wrapper {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feature__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
}

.feature__img {
  display: block;
  width: 70px;
  height: 70px;
}

.feature__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.feature__subtitle {
  margin-top: 35px;
  font-weight: 700;
  font-size: 18px;
  color: #0D0D0D;
  text-align: center;
}

.feature__text {
  margin-top: 20px;
  font-weight: 300;
  font-size: 14px;
  color: #0d0d0d;
  text-align: center;
  line-height: 18px;
}

.feature__link {
  color: #C70101;
  text-decoration: underline;
}

@media (max-width: 991px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .promo__logo {
    width: 240px;
  }

  .feature__item {
    width: 240px;
    margin-right: 20px;
  }

  .feature__item:last-child {
    margin-right: 0px;
  }
}

@media (max-width: 767px) {
  .promo__logo {
    width: 160px;
  }

  .promo__official p {
    font-size: 15px;
    line-height: 29px;
  }

  .promo__tel {
    font-size: 15px;
  }

  .promo .btn--small {
    font-size: 10px;
    margin-top: 4px;
    padding: 5px;
  }

  .promo__title {
    font-size: 34px;
  }

  .promo__subtitle {
    font-size: 18px;
  }

  .promo__icons {
    width: 320px;
  }

  .promo__item {
    font-size: 13px;
    margin-bottom: 65px;
  }

  .promo__item img {
    width: 35px;
    height: 35px;
  }

  .promo .btn--big {
    padding: 6px 22px;
    font-size: 14px;
  }

  .promo__text {
    font-size: 14px;
  }

  .feature__title {
    font-size: 26px;
  }

  .feature__wrapper {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .feature__item {
    width: 100%;
    margin-top: 40px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 70%;
    grid-template-columns: 30% 70%;
    -ms-grid-rows: 30px 70px;
    grid-template-rows: 30px 70px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    justify-items: stretch;
    border: 3px solid #C70101;
    border-radius: 25px;
  }

  .feature__img {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }

  .feature__subtitle {
    margin-top: 0px;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row-align: center;
        align-self: center;
  }

  .feature__text {
    margin-top: 0px;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}

@media (max-width: 575px) {
  .promo__top {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 40%;
    grid-template-columns: 40% 40%;
    -ms-grid-rows: 60px 60px;
    grid-template-rows: 60px 60px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    justify-items: stretch;
  }

  .promo__contacts {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .promo .btn--small {
    padding: 5px 22px;
  }

  .promo__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .feature__item {
    -ms-grid-columns: 25% 75%;
    grid-template-columns: 25% 75%;
  }

  .feature__text {
    font-size: 12px;
    padding: 0px 10px;
  }
}

@media (max-width: 449px) {
  .promo__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .promo__logo {
    width: 160px;
  }

  .promo__official {
    margin-top: 15px;
  }

  .promo__tel {
    margin-top: 15px;
  }

  .promo .btn--small {
    padding: 5px 22px;
  }

  .promowrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .promo__title {
    text-align: center;
  }

  .promo__subtitle {
    text-align: center;
  }

  .feature__item {
    -ms-grid-columns: 30% 70%;
    grid-template-columns: 30% 70%;
    -ms-grid-rows: 50px 70px;
    grid-template-rows: 50px 70px;
  }

  .feature__img {
    width: 40px;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-column-align: end;
        justify-self: end;
  }

  .feature__text {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    font-size: 12px;
  }
}

.webp .promo{ background: url(../img/header_background.webp) center center/cover no-repeat; }